<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.selectpilot.bridge</string>
  <key>ProgramArguments</key><array>
    <string>__PYTHON_BIN__</string><string>__PROJECT_ROOT__/server/nano_server.py</string>
    <string>--port</string><string>8083</string>
    <string>--run-dir</string><string>__RUN_DIR__</string>
    <string>--state-dir</string><string>__STATE_DIR__</string>
    <string>--log-dir</string><string>__LOG_DIR__</string>
    <string>--binary-path</string><string>__PROJECT_ROOT__/server/nano_server.py</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><dict><key>SuccessfulExit</key><false/></dict>
  <key>StandardOutPath</key><string>__LOG_DIR__/bridge.log</string>
  <key>StandardErrorPath</key><string>__LOG_DIR__/bridge.err</string>
  <key>WorkingDirectory</key><string>__PROJECT_ROOT__/server</string>
  <key>EnvironmentVariables</key><dict>
    <key>CHROMEAI_PORT_INFO</key><string>__RUN_DIR__/port.info</string>
    <key>CHROMEAI_EXPECTED_PORT_FILE</key><string>__RUN_DIR__/port.info</string>
    <key>CHROMEAI_ALLOWED_RANGE</key><string>8083</string>
    <key>CHROMEAI_RUNTIME_STATE_DIR</key><string>__STATE_DIR__</string>
    <key>CHROMEAI_OLLAMA_BASE_URL</key><string>__OLLAMA_BASE_URL__</string>
    <key>CHROMEAI_RUNTIME_PROFILE</key><string>__RUNTIME_PROFILE__</string>
    <key>CHROMEAI_OLLAMA_MODEL</key><string>__OLLAMA_MODEL__</string>
    <key>CHROMEAI_OLLAMA_FAST_MODEL</key><string>__OLLAMA_FAST_MODEL__</string>
    <key>CHROMEAI_OLLAMA_EMBED_MODEL</key><string>__OLLAMA_EMBED_MODEL__</string>
    <key>CHROMEAI_OLLAMA_NUM_CTX</key><string>__OLLAMA_NUM_CTX__</string>
    <key>CHROMEAI_OLLAMA_FAST_NUM_CTX</key><string>__OLLAMA_FAST_NUM_CTX__</string>
    <key>CHROMEAI_MAX_INPUT_CHARS</key><string>__MAX_INPUT_CHARS__</string>
    <key>CHROMEAI_OLLAMA_SEED</key><string>__OLLAMA_SEED__</string>
    <key>CHROMEAI_OLLAMA_KEEP_ALIVE_SECONDS</key><string>__OLLAMA_KEEP_ALIVE_SECONDS__</string>
    <key>CHROMEAI_BINARY_HASH</key><string>__BINARY_HASH__</string>
    <key>CHROMEAI_RUNTIME_HASH</key><string>__RUNTIME_HASH__</string>
    <key>CHROMEAI_AUTO_PULL_MODELS</key><string>0</string>
    <key>CHROMEAI_MAX_CONCURRENT_OPERATIONS</key><string>1</string>
    <key>SELECTPILOT_ENTITLEMENT_AUTHORITY_URL</key><string>__ENTITLEMENT_AUTHORITY_URL__</string>
  </dict>
</dict></plist>
